<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed ToDo List</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ details.name }}</h1>
            <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details.items.all %}
                <tr>
                    <td>{{ detail.task }}</td>
                    <td>{{ detail.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
</body>
</html>
